
div#main{
	margin-left: 200px;
	margin-right: 200px;
	margin-top: 20px;
	margin-bottom: 0px;
	color: gray;
}
div#center{
	text-align: auto;
}

div#image{
	text-align: center;
}

h1{
	text-align:center; 
}

p{
	text-indent: 2em;
	font-size: 18px;
	font-family: "黑体";	
}